# recap
- 자료형
    - numberic (int,float)
    - str
        - indexing
        - slicing
    - boolean
        - true & false 
        
- 자료구조
    - 리스트 : array(배열) 추가,삭제가능 
    - 튜플 : array (배열), 추가,삭제 불가 
    - 딕셔너리 : {key1 : value, key2: value } , key는 중복 불가 , 밸류는 중복 가능 
    
- 자료형 , 자료구조 모두 각자만의 methood(메서드 - 고유의 기능)

## Recap - statement 문들 / 
- for 문
- while 문
- if else 문

In [1]:
# for문

'''
for index in <iterable> : 
    index 로 연산진행 
    
'''
# 숫자를 print 하는 for문 
for i in [0,1,2,3,4,5] : 
    print(i)

0
1
2
3
4
5

In [6]:
# list comprehension

# 리스트에 for문을 돌면서 요소 (eleement)를 추가하고싶을때 
# 원래 방식 
mylist = []
for i in ['apple','banana','kiwi'] : 
    if (i == 'apple') or (i == 'banana') : 
        mylist.append(i)
    else : 
        pass 

mylist

['apple', 'banana']

In [8]:
# dictionary  딕셔너리 
location = {'wonseok' : 'seocho',
            'eunhye' : 'kwangmyung'}

location['eunhye']

'kwangmyung'

In [7]:
# list cimprehension을 사용 
fruits = ['apple','kiwi']
[i for i in fruits if i in ['apple','banana']]

['apple']

In [10]:
# dictionary 딕셔너리

location = {'wonseok' : 'seocho', 
           'eunhye' : 'kwangmyung'}

location['wonseok']

'seocho'

In [ ]:

## function/ 함수 
- input / output 이 있다.
- 코드를 길게쓰는것을 방지하고, 자동화를 해주는 역할

- 함수의 기본구조 

```
def 함수이름(인자):
    연산의 결과 = 인자를 사용한 연산
    return 연산의 결과값 = 인자 
```

In [20]:
# 예시 1 

mylist = []
for i in ['apple', 'banana', 'kiwi'] :
    if (i == 'apple') or (i == 'banana') : 
        mylist.append(i)
    else : 
        pass 

mylist

['apple', 'banana']

In [41]:
def filtering_funtion(original_list, filtering_list) :
    
    new_list = []
    for i in original_list : 
        if i not in filtering_list : 
            new_list.append(i)
        else : 
            pass
        
    return new_list,1

In [42]:
result1, result2 = filtering_funtion(filtering_list = ['kiwi'], original_list = ['apple','banana','kiwi'])
print(result1)
print(result2)

['apple', 'banana']
1

In [43]:
list1 = ['house','apartment','villa','mention']
list2 = ['villa']

filtering_funtion(list1,list2)

(['house', 'apartment', 'mention'], 1)

In [ ]:
def filtering_function(*args / **args)

In [4]:
## function : *args, **kwargs 

*args : 무언가 담아놓은 튜플
**kwargs : 무언가를 담아놓은 딕셔너리

SyntaxError: invalid syntax (1802297551.py, line 3)

In [70]:
list1 = ['house','apartmen','villa','mention']
list2 = [villa]

NameError: name 'villa' is not defined

In [71]:
def filtering_function(*args) :
    print("this is args : " ,args)
    
    original_list = args[0]
    filtering_list = args[1]
    
    new_list = []
    for i in original_list : 
        if i not in filtering_list : 
            new_list.append(i)
        else : 
            pass
        
    return new_list

In [72]:
filtering_function(list1,list2)

this is args :  (['house', 'apartmen', 'villa', 'mention'], ['villa'])

['house', 'apartmen', 'mention']

In [76]:
def filtering_function(**kwargs) :
    print("this is args : " ,kwargs)
    
    original_list = kwargs['original']
    filtering_list = kwargs['filter']
    
    new_list = []
    for i in original_list : 
        if i not in filtering_list : 
            new_list.append(i)
        else : 
            pass
        
    return new_list

In [77]:
list1 = ['house','apartmen','villa','mention']
list2 = ['villa']

In [80]:
filtering_function(original = list1, filter = list2)

this is args :  {'original': ['house', 'apartmen', 'villa', 'mention'], 'filter': ['villa']}

['house', 'apartmen', 'mention']

In [74]:
# 숙제 
1. user가 왔을때, 닉네임과 비밀번호를 입력하게 만들고 그것을 변수에 저장하고 저장된 변수를 반환하는 함수를 만드시오 
    input : 닉네임,비밀번호
    output : 닉네임, 비밀번호를 저장한 객체(리스트 혹은 딕셔너리) 
    
    
    user가 닉네임과 비밀번호를 각 키값으로 입력하고 , 아웃풋으로 밸류값 출력되게

SyntaxError: invalid syntax (1199925104.py, line 2)

In [81]:
# dictionary  딕셔너리 

user = {'wonseok' : 'seocho',
        'eunhye' : 'kwangmyung'}

user['eunhye']

'kwangmyung'

In [1]:
유저가 닉네임과 비번을 입력하면 유저임이 불런으로 / 트루펄스 /

SyntaxError: invalid syntax (1909871843.py, line 1)

In [8]:

list1 = ['house','apartment']
list1 = ['success']

In [9]:
list1

['success']